.post-container {
    padding-left: 3%;
    padding-right: 3%;
}

/* .post-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.hljs-keyword {
    color: red;
}

.hljs-comment {
    color: green;
}

.hljs-built_in {
    color: blue;
}

.hljs-type {
    color: blue;
}

.hljs-number {
    color:blue;
}

.hljs-literal {
    color: blue;
}

.post-container pre {
    overflow-x: scroll;
}

.post-container img {
    width: 100%;
    overflow: scroll;
}

@media screen and (max-width: 1024px) {
    .post-container img {
        width: 95vw;
        overflow: scroll;
    }
}
